/* for desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* navbar design starts here */

.nav-logo{
    text-align: left;
    height: auto;
}

.nav-heading h1{
    text-align: right;
}

.navbar h1{
    margin-top: 15px;
}

.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

.nav-menu a{
    padding: 5px 10px;
    margin: 10px 5px;
    background-color: transparent;
}

/* navbar design ends here */



/* profile design starts here */

.profile .top-weather-icon{
    position: absolute;
    width: 150px;
    right: 100px;
    transition: width 2s, transform 2s;
}

.profile .top-weather-icon:hover{
    width: 200px;
}

.profile-desc p{
    font-size: 1.8rem;
    color: gray;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    margin-bottom: 20px;
}

.profile .bottom-weather-icon{
    position: absolute;
    width: 150px;
    left: 100px;
    bottom: 20px;
    transition: width 2s, transform 2s;
}

.profile .bottom-weather-icon:hover{
    width: 200px;
}

/* profile design ends here */



/* about me design starts here */


.about-me-image{
    margin-top: 60px;
}

.about-me-image img{
    height: 270px;
    width: 250px;
}

.about-me-image img:hover{
    height: 290px;
    width: 270px;
    border: 5px solid gray;
}

.about-me-desc p{
    text-align: left;
}


/* about me design ends here */



/* professional experience starts here */

.pro-ex{
    padding: 1% 5%;
}

/* professional experience ends here */



/* achievement contact starts from here */

.achievement{
    padding-right: 50px;
}

.contact button{
    width: 150px;
}

.contact-links{
    position: relative;
}

.media-buttons{
    position: absolute;
    margin-top: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.media-buttons .btn{
    margin: 10px 10px;
}



/* achievement contact ends here */



/* footer starts from here */

.footer-menu{
    margin-top: 12px;
}

.footer-menu a{
    display: inline;
    margin: 10px;
}

/* footer ends here */